# Maven
target/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea/
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode/
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# Patch
*.orig
*.rej

# Local environment
.env

# Quarkus / Gradle cache (legacy)
/.quarkus/cli/plugins/
.certs/
.gradle/

# Binary / doc files
*.pdf
